<div>
    <div class="spinner-wrap" *ngIf="apiService.isLoading">
        <mat-spinner></mat-spinner>
    </div>

    <h5 class="text-center mt-3 mb-5">{{(data.value === 'create') ? 'Create Employee Form' : 'Update Employee Form'}}
    </h5>

    <form [formGroup]="employeeDetailsForm">

        <div class="form-group">
            <input class="form-control" [ngClass]="{ 'is-invalid':f.name.errors && isSubmitted }" formControlName="name"
                required placeholder="Enter Employee Name" type="text" />
            <div *ngIf="f.name.errors && isSubmitted">
                <div *ngIf="f.name.errors.required" class="text-danger">Name is required.
                </div>
            </div>
        </div>

        <div class="form-group">
            <input class="form-control" [ngClass]="{ 'is-invalid':f.salary.errors && isSubmitted }"
                formControlName="salary" required placeholder="Enter Employee Salary" type="text" />
            <div *ngIf="f.salary.errors && isSubmitted">
                <div *ngIf="f.salary.errors.required" class="text-danger">Salary is required.
                </div>
            </div>
        </div>

        <div class="form-group">
            <input class="form-control" [ngClass]="{ 'is-invalid':f.age.errors && isSubmitted }" formControlName="age"
                required placeholder="Enter Employee Age" type="text" />
            <div *ngIf="f.age.errors && isSubmitted">
                <div *ngIf="f.age.errors.required" class="text-danger">Age is required.
                </div>
            </div>
        </div>

        <div class="d-block text-center mt-5">
            <button type="submit" class="btn btn-primary" *ngIf="(data.value === 'edit')"
                (click)="updateEmployeeDetails()">Update</button>
            <button type="submit" class="btn btn-primary" *ngIf="(data.value === 'create')"
                (click)="createEmployeeDetails()">Create</button>
        </div>

    </form>
</div>