<mat-card class="login-card">
    Login Form
    <form [formGroup]="loginForm" (ngSubmit)="onClickLogin()">

        <input type="text" class="form-control" placeholder="Email"
            [ngClass]="{ 'is-invalid':f.email.errors && isSubmitted }" formControlName="email" required />
        <div *ngIf="f.email.errors && isSubmitted">
            <div *ngIf="f.email.errors.required">Email is required.
            </div>
            <div *ngIf="f.email.errors.pattern">Your email address format is not recognised
            </div>
        </div>

        <input [ngClass]="{ 'is-invalid':f.password.errors && isSubmitted }" type="password" class="form-control"
            placeholder="Password" formControlName="password" required />
        <div *ngIf="f.password.errors && isSubmitted">
            <div *ngIf="f.password.errors.required">Password is required.
            </div>
        </div>
        <button mat-raised-button>Login</button>
        <button mat-raised-button [routerLink]="['/signup']" >Sign Up</button>
    </form>
</mat-card>